body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-left: 450px;
    margin-right: 450px;
    background-image: radial-gradient(circle, lightblue, #237bcf);
}

h1 {
    font-size: 70px;
    text-align: 
}

h2 {
    font-size: 22px;
    margin-top: -50px;
}

p {
    font-size: 18px;
    text-align: left;
    line-height: 1.8rem;
}

a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover, a:active {
    text-decoration: underline;
}

.header {
    text-align: center;
}

#panda {
    font-size: 200px;
    margin-top: 8.4rem;
    text-align: center;
}

#sale {
    font-size: 18px;
    margin-top: -2rem;
    text-align: center;
}